.carousel{
  height: 35rem;
  width: 87.4rem;
  max-width: 100%;
  display: flex;
  overflow-y: hidden;
  gap: 1.56rem;
  justify-content: space-between;
  overflow-x: hidden;
  margin: 1.25rem auto 0 auto;
  position: relative;
}

.togglers{
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

.togglers__external{
  width: 1.625rem;
  height: 1.625rem;
  position: relative;
  left: 0.3rem;
}

.togglers__external:hover{
  cursor: pointer;
}

.togglers__toggler{
  width: 1rem;
  height: 1rem;
  background: #0C0C0E;
  border-radius: 1rem;
}

#toggler_active{
  background-color: #BB945F;
}