@import '../../styles/mixins.scss';

.section-header{
  @include sectionHeader();
}

.about__separation-line{
  margin-top: 1.25rem;
}

.about__description{
  margin-top: 2.5rem;
}

.about__header{
  margin-top: 1.25rem;
}

@media (max-width: 768px){

  .about{
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .about__description{
    width: 90%;
    position: relative;
    left: 2.4rem;
  }
}