.burger-background{
  display: none;
}

@media(max-width: 1026px){
  .burger-background{
    display: flex;
    width: 20.75rem;
    height: 35.625rem;
    background-color: #0C0C0E;
    position: absolute;
    right: 0.1rem;
    top: 0rem;
    z-index: 1;
    transition: ease-in-out 0.8s;
    transform: translateY(-200%);
  }
}