@import '../../styles/mixins.scss';

header {
  background-color: #0C0C0E;
  height: 5.625rem;
}

h1{
  color: #FFF;
  font-family: Forum;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem;
  letter-spacing: 0.0375rem;
  position: absolute;
  left: 1.2rem;
  top: 1.2rem;
}

.navigation-panel{
  position: absolute;
  right: 5.63rem;
  top: 1.4rem;
}

.navigation-panel__elements-wrapper{
  display: flex;
  gap: 1.875rem;
  /* margin-left: 15px; */
}

.navigation-panel__links{
  color: #FFF;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem;
  text-decoration: none;
}

.profile-icon{
  position: absolute;
  right: 1.25rem;
  top: 1.94rem;
}