@import '../../styles/mixins.scss';

header {
  background-color: #0C0C0E;
  height: 5.625rem;
}

.header__aligner{
  display: flex;
  gap: 15.6rem;
  position: relative;
  top: 1.2rem;
}

h1{
  color: #FFF;
  font-family: Forum;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem;
  letter-spacing: 0.0375rem;
}

.navigation-panel{
  position: relative;
  left: 12.93rem;
}

.navigation-panel__elements-wrapper{
  display: flex;
  gap: 1.875rem;
}


.navigation-panel__links{
  color: #FFF;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem;
  text-decoration: none;
}

.profile-icon{
  cursor: pointer;
}